// Colors
$black: #000000;
$white: #FFFFFF;

$light-accent: #EF6F4F;
$accent: #B82601;

$lightest-gray: #f7f7f5;
$lighter-gray: #f2f2f2;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #535353;
$darker-gray: #3d3d3d;

$error-text: #d50000;
$neutral-text: #F4E800;
$good-text: #88D317;

$button-error: #D65555;
$button-neutral: #F4EB30;
$button-good: #98D33F;


// Fonts
$paragraph: 'Bitter', serif;
$heading: 'Raleway', sans-serif;
$code: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;

html {
  height: 100%;
}

body {
  height: 100%;
}
